<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainin | Company</title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/bg.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/scrollbar.css">
    <link rel="icon shortcut" type="x-icon" href="images/rainin-web.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/responsive/1.0.5/responsive.min.js"></script>
</head>
<body>
    <!-- Start of Navbar section -->
    
    <div id="nav-div">
        <img src="images/Rainin.png" class="not-selectable" id="logo" width="80px" alt="PCL Logo">
        <div id="nav-buttons-mobile">
            <button id="bars" onclick="menu()"><i class="fa-solid fa-bars"></i></button>
        </div>
        <nav id="nav-buttons">
            <button id="btn" class="desktop" onclick="home()">Home</button>
            <button id="btn" class="desktop" onclick="products()">Products</button>
            <button id="btn" class="desktop" onclick="company()">Company</button>
            <button id="btn" class="desktop" onclick="aboutus()">About Us</button>
        </nav>
    </div>
    <div id="nav-div-scroll">
        <div id="nav-div-sub-scroll">
            <nav id="nav-buttons">
            <button id="btn" class="desktop" onclick="home()" style="border-bottom-left-radius: 30px; border-top-left-radius: 30px;">Home</button>
            <button id="btn" class="desktop" onclick="products()">Products</button>
            <button id="btn" class="desktop" onclick="company()">Company</button>
            <button id="btn" class="desktop" onclick="aboutus()">About Us</button>
        </nav>
        </div>
    </div>
    <div style="display: flex; justify-items: left;">
        <div id="mobile-menus">
            <div onclick="closebtn()" id="mobile-close-button"><i class="fa-solid fa-x" style="color: #ffff"></i></div>
            <div id="nav-mobile-buttons">
                <button id="btn" onclick="home()">Home</button>
                <button id="btn" onclick="products()">Products</button>
                <button id="btn" onclick="company()">Company</button>
                <button id="btn"  onclick="aboutus()">About Us</button>
            </div>
            <h1 style="display: flex; margin-left: auto;
            margin-right: auto;">Rainin' Tech</h1>
        </div>
    </div>

    <!-- End of Navbar section -->

    <div id="main-page">
        
    </div>

    <script src="js/locations.js"> </script>
    <script src="js/scripts.js"> </script>
    <script src="js/navbar.js"> </script>
</body>
</html>