<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainin | Audio Player</title>
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/bg.css" />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/buttons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/scrollbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" />
    <link rel="icon shortcut" type="x-icon" href="images/rainin-web.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/responsive/1.0.5/responsive.min.js"> </script>
</head>
</head>
<body>
    
    
</body>
</html>